<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>VueJs Events</title>
    <link rel="stylesheet" href="">
    <script src="../vue.js"></script>
</head>
<body>
<div id="app">
    <button v-on:click="counter++">Increase</button>
    <button v-on:click="counter--">Decrease</button>
    <button v-on:click="secondCounter++">Increase Second</button>
    <p>Counter: {{counter}} | {{secondCounter}}</p>
    <p>Result: {{ result() }}</p>
    <!-- Notice NO FUNCTION CALL -->
    <p>Output (same as result): {{ output }}</p>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            counter: 0,
            secondCounter: 0
        },
        methods: {
            // Issue with this is if we, for example, update secondCounter this is re-executed...
            // Maybe not an issue in this case BUT if we had a more complex method...Than we have issues
            // This is when we want to use COMPUTED properties
            result() {
                console.log('Result Called');
                return this.counter > 5 ? 'Greater than 5' : 'Smaller than 5';
            }
        },
        // NOTE: ALWAYS RUN SYNCHRONOUSLY
        computed: {
            output() {
                console.log('Output Called');
                return this.counter > 5 ? 'Greater than 5' : 'Smaller than 5';
            }
        },
        // has to match one of your properties, you make a function to execute whenever
        // the property changes. Allows you to react to changes
        // BEST PRACTICE: Use computed, they are more optimized
        // NOTE: USE THIS WHEN WE NEED ASYNCHRONOUS CODE
        watch: {
            counter(value) {
                console.log('Watch', value);
                setTimeout(() => {
                    console.log('Wtach timeout');
                    this.counter = 0;
                }, 2000)
            }
        }
    });
</script>
</body>
</html>