<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Excercise</title>
    <link rel="stylesheet" href="">
    <script src="../vue.js"></script>
</head>
<body>
<div id="app">
    <!-- 1) Hook up the button to toggle the display of the two paragraphs. Use both v-if and v-show and inspect the elements to see the difference -->
    <div>
        <button @click="toggle = !toggle">Toggle</button>
        <p v-if="toggle">You either see me ...</p>
        <p v-else>...or me</p>
        <p v-show="toggle">You either see me ...</p>
        <p v-else>...or me</p>
    </div>
    <!-- 2) Output an <ul> of array elements of your choice. Also print the index of each element. -->
    <ul>
        <li v-for="(ingredient, i) in ingredients">
            {{ingredient}} - ({{i}})
        </li>
    </ul>
    <!-- 3) Print all key-value pairs of the following object: {title: 'Lord of the Rings', author: 'J.R.R. Tolkiens', books: '3'}. Also print the index of each item. -->
    <ul>
        <li v-for="(value, key, index) in book">
            {{key}}: {{value}} ({{index}})
        </li>
    </ul>
    <!-- 4) Print the following object (only the values) and also create a nested loop for the array: {name: 'TESTOBJECT', data: [1.67, 1.33, 0.98, 2.21]} (hint: use v-for and v-if to achieve this) -->
    <ul>
        <li v-for="value in coolObject">
            <template v-if="Array.isArray(value)">
                <div v-for="innerValue in value">{{innerValue}}</div>
            </template>
            <template v-else>
                {{value}}
            </template>
        </li>
    </ul>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            toggle: true,
            ingredients: ['meat', 'fruit', 'cookies'],
            book: {title: 'Lord of the Rings', author: 'J.R.R. Tolkiens', books: '3'},
            coolObject: {
                name: 'TESTOBJECT',
                data: [1.67, 1.33, 0.98, 2.21]
            }
        },
    });
</script>
</body>
</html>