<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>VueJs Events</title>
    <link rel="stylesheet" href="">
    <script src="../vue.js"></script>
</head>
<body>
<div id="app">
    <!-- will edit the name data attribute on a change -->
    <!-- This is two-way binding -->
    <input type="text" v-model="name"/>
    <p>{{name}}</p>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            name: 'Max'
        }
    });
</script>
</body>
</html>