<template>
  <div>
    <scope>Red Content Here</scope>
  </div>
</template>

<script>

</script>

<style scoped>
  div {
    border: 1px solid red;
    background-color: lightcoral;
    padding: 30px;
    margin: 20px auto;
    text-align: center
  }
</style>
