<template>
    <div>
        <header>
            <h1>Server Status Blah</h1>
        </header>
    </div>
</template>

<script>
    export default {
        name: 'Header',
    };
</script>

<style scoped>

</style>