<template>
    <div>
        <ul class="list-group">
            <li
                    class="list-group-item"
                    v-for="server in servers">
                <server-list-item key="server.id" :server="server" :onClick="onListItemClick"/>
            </li>
        </ul>
    </div>
</template>

<script>
    import ServerListItem from './ServerListItem';
    import {eventBus} from '../main';

    export default {
        name: 'ServerList',
        props: {
            onListItemClick: {
                type: Function,
                default: () => {
                    console.warn('On List Item Click not implemented!')
                }
            }
        },
        components: {
            serverListItem: ServerListItem,
        },
        data() {
            return {
                servers: [
                    {
                        id: '1',
                        status: 'Normal',
                    },
                    {
                        id: '2',
                        status: 'Critical',
                    },
                    {
                        id: '3',
                        status: 'Unknown',
                    },
                    {
                        id: '4',
                        status: 'Normal',
                    },
                ],
            };
        },
        created() {
            eventBus.$on('updateServerStatus', server => {
                const index = this.servers.findIndex(s => s.id === server.id);
                this.servers[index] = server;
                this.onListItemClick(server);
            })
        }
    };
</script>

<!-- Adding scoped will only apply the styles to shi component-->
<style scoped>

</style>