<template>
    <div @click="onItemClick">
        Server #{{ server.id }}
    </div>
</template>

<script>
    export default {
        name: 'ServerListItem',
        props: {
            server: {
                type: Object,
                required: true,
            },
            onClick: {
                type: Function,
                required: true,
            },
        },
        methods: {
            onItemClick() {
                this.onClick(this.server);
            },
        },
    };
</script>

<style scoped>

</style>