<template>
    <div v-if="server">
        <p>Server Id: {{server.id}}</p>
        <p>Server Status: {{server.status}}</p>
        <button class="btn btn-primary" @click="resetServerStatus">Reset Status</button>
    </div>
    <div v-else>
        <p>Please select a server</p>
    </div>
</template>

<script>
    import {eventBus} from '../main';

    export default {
        name: 'ServerListItemDetail',
        props: ['server'],
        methods: {
            resetServerStatus() {
                eventBus.updateServerStatus(this.server, 'Normal');
            }
        },
    };
</script>

<style scoped>

</style>