<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>VueJs Events</title>
    <link rel="stylesheet" href="">
    <script src="../vue.js"></script>
</head>
<body>
<div id="app">
    <!-- Naming is IMPORTANT with the event, $event is a protected name from VueJS-->
    <button v-on:click="increase(2, $event)">Click Me</button>
    <button v-on:click="counter++">Click Me</button>
    <p>
        {{counter * 2 > 10 ? 'Greater than 10': 'Smaller than 10'}}
    </p>
    <p v-on:mousemove="updateCoordinates">
        Coordinates: {{x}} / {{y}}
        <!-- How we can stop an event from propagating, see the modifier .stop -->
        <!-- Similarly we can also write a method with stopPropagation() being called-->
        - <span v-on:mousemove.stop="">DEAD SPOT</span>
    </p>
    <!-- Add a key modifier to listen for a particular key event, e.g. "tab"/"enter"-->
    <!-- You can also chain them -->
    <!-- https://vuejs.org/v2/guide/events.html#Key-Modifiers -->
    <input type="text" v-on:keyup.enter.space="alertMe"/>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            counter: 0,
            x: 0,
            y: 0
        },
        methods: {
            increase: function (step, event) {
                console.log(event.target);
                this.counter += step;
            },
            // Vue automatically passes this event DOM object to the function with v-on
            updateCoordinates: function(event) {
                this.x = event.clientX;
                this.y = event.clientY;
            },
            alertMe: function(event) {
                alert('Alert')
            }
        },
    });
</script>

</body>
</html>