<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>VueJs Event Challenge</title>
    <link rel="stylesheet" href="">
    <script src="../vue.js"></script>
</head>
<body>
<div id="exercise">
    <!-- 1) Show an alert when the Button gets clicked -->
    <div>
        <button v-on:click="buttonClick">Show Alert</button>
    </div>
    <!-- 2) Listen to the "keydown" event and store the value in a data property (hint: event.target.value gives you the value) -->
    <div>
        <input type="text" v-on:keydown="keyDown">
        <p>{{ value }}</p>
    </div>
    <!-- 3) Adjust the example from 2) to only fire if the "key down" is the ENTER key -->
    <div>
        <input type="text" v-on:keydown.enter="keyDown">
        <p>{{ value }}</p>
    </div>
</div>
<script>
    new Vue({
        el: '#exercise',
        data: {
            value: '',
        },
        methods: {
            buttonClick: function() {
                alert('Button Clicked!');
            },
            keyDown: function(event) {
                this.value = event.target.value;
            }
        },
    });
</script>
</body>