<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>VueJs V-If</title>
    <link rel="stylesheet" href="">
    <script src="../vue.js"></script>
</head>
<body>
<div id="app">
    <!-- Removes it Completely from the DOM! -->
    <p v-if="show">You can see me! <span>Hello</span></p>
    <p v-else>Now you see me!</p>
    <p>Do you also see me?</p>
    <input type="text" v-model="condition">
    <p v-if="condition === 'one'">Condition one bro</p>
    <p v-else-if="condition === 'two'">Condition two bro</p>
    <p v-else>Woah nothing to see here</p>
    <button @click="show = !show">Switch</button>

    <!--Template is not rendered, so we should try out v-if with this-->
    <!-- Useful if we need nested elements -->
    <template v-if="show">
        <h1>Heading</h1>
        <p>Inside a template</p>
    </template>

    <!-- This way the element DOES NOT get removed -->
    <!-- This just places a display: none property -->
    <p v-show="show">Do you also see me?</p>

</div>
<script>
    new Vue({
        el: '#app',
        data: {
            show: true,
            condition: 'one'
        },
    });
</script>
</body>
</html>