<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <app-header/>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <app-server-list :onListItemClick="onListItemClick"/>
            </div>
            <div class="col-xs-12 col-sm-6">
                <app-server-list-item-detail :server="selectedServer"/>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12">
                <footer>
                    <p>All Servers are managed here</p>
                </footer>
            </div>
        </div>
    </div>
</template>

<script>
    import ServerListItemDetail from './components/ServerListItemDetail';
    import ServerList from './components/ServerList';
    import Header from './components/Header';

    export default {
        components: {
            'app-server-list-item-detail': ServerListItemDetail,
            'app-server-list': ServerList,
            'app-header': Header
        },
        data() {
            return {
                selectedServer: undefined
            }
        },
        methods: {
            onListItemClick(server) {
                this.selectedServer = server;
            }
        }
    }
</script>

<style>

</style>
