<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vue JS</title>
    <link rel="stylesheet" href="">
    <script src="./vue.js"></script>
</head>
<body>

<div id="app1">
    <h1 ref="heading">{{ title }}</h1>
    <button v-on:click="show" ref="myButton">Show Paragraph</button>
    <p v-if="showParagraph">This is not always visible</p>
</div>

<div id="app2">
    <h1 ref="heading">{{ title }}</h1>
    <hello></hello>
    <hello></hello>
    <button @click="onChange">Change something in Vue 1</button>
</div>

<div id="app3"></div>

<div id="app4">
    <h1>{{title}}</h1>
    <!-- Only calls the update life cycle methods once since it doesn't change the underlying text -->
    <!-- On subsequent clicks -->
    <button @click="title = 'Changed'">Update Title</button>
    <!-- Try hitting this first, then try hitting Update Title, it won't work -->
    <!-- Since the VueJS instance is no longer there managing the state -->
    <button @click="destroy">Destroy</button>
</div>


<script src="./main.js"></script>
</body>
</html>