<template>
  <div class="container">
    <form>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
          <!-- Exercise 1 -->
          <!-- Create a Signup Form where you retrieve the following Information -->
          <!-- Full Name (First Name + Last Name) -->
          <!-- Mail -->
          <!-- Password -->
          <!-- Store Data? Yes/No -->
          <h1>Signup</h1>
          <hr/>
          <div class="form-group">
            <label for="fullname">Full Name (First Name + Last Name)</label>
            <app-full-name id="fullname" v-model="fullName"/>
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input
              class="form-control"
              type="email"
              id="email"
              v-model="email"
            />
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input
              class="form-control"
              type="password"
              id="password"
              v-model="password"
            />
          </div>

          <div class="form-group">
            <label for="yes">
              <input
                id="yes"
                type="radio"
                value="yes"
                v-model="storeInDatabase"
              >Yes
            </label>

            <label for="no">
              <input
                id="no"
                type="radio"
                value="no"
                v-model="storeInDatabase"
              >No
            </label>

          </div>

          <!-- Exercise 2 -->
          <!-- Only display the Form if it has NOT been submitted -->
          <!-- Display the Data Summary ONCE the Form HAS been submitted -->

          <!-- Exercise 3 -->
          <!-- Edit the Example from above and create a custom "Full Name" Control -->
          <!-- which still holds the First Name and Last Name Input Field -->
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
          <button
            class="btn btn-primary"
            @click.prevent="isSubmitted = true"
          >
            Submit
          </button>
        </div>
      </div>
    </form>
    <hr>
    <div class="row" v-if="isSubmitted">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Your Data</h4>
          </div>
          <div class="panel-body">
            <p>Full Name: {{fullName}} </p>
            <p>Mail: {{email}} </p>
            <p>Password: {{password}} </p>
            <p>Store in Database?: {{storeInDatabase}} </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import FullName from './FullName';

  export default {
    components: {
      appFullName: FullName,
    },
    data() {
      return {
        fullName: '',
        email: '',
        password: '',
        storeInDatabase: 'no',
        isSubmitted: false,
      };
    },
  };
</script>

<style>
</style>
