<template>
  <div>
    <input
      type="text"
      class="form-control"
      :value="value"
      @input="onInputChange"
    />
  </div>
</template>

<script>
  export default {
    name: 'FullName',
    props: ['value'],
    methods: {
      onInputChange({target}) {
        this.$emit('input', target.value);
      }
    }
  };
</script>

<style scoped>

</style>
