<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>VueJs Events</title>
    <link rel="stylesheet" href="">
    <script src="../vue.js"></script>
</head>
<body>
<div id="app">
    <!-- 1) Show a "result" of 'not there yet' as long as "value" is not equal to 37 - you can change "value" with the buttons. Print 'done' once you did it -->
    <div>
        <p>Current Value: {{ value }}</p>
        <button @click="value += 5">Add 5</button>
        <button @click="value += 1">Add 1</button>
        <p>{{ result }}</p>
    </div>
    <!-- 2) Watch for changes in the "result" and reset the "value" after 5 seconds (hint: setTimeout(..., 5000) -->
    <div>
        <input type="text">
        <p>{{ value }}</p>
    </div>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            value: 0,
            resetting: false,
        },
        computed: {
            result() {
                return this.value !== 37 ? 'not there yet' : 'done'
            }
        },
        watch: {
            value(value) {
                // avoid spamming timeouts
                if (!this.resetting) {
                    console.log('Dispatching reset');
                    this.resetting = true;
                    setTimeout(() => {
                        this.resetting = false;
                        this.value = 0;
                    }, 5000);
                } else {
                    console.log('Ignored');
                }
            }
        }
    })
</script>
</body>
</html>