#effect {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.highlight {
  background-color: red;
  width: 200px !important;
}

.shrink {
  background-color: gray;
  width: 50px !important;
}

.cool-class {
  color: red;
}

.cool-class-two {
  font-size: 15px;
  font-weight: bold;
}

#main-box-one {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.expand {
  border-radius: 1rem;
}


#main-box-two {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.one {
  background-color: dodgerblue;
}

.two {
  background-color: aliceblue;
}

.three {
  background-color: black;
}

#main-box-three {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

#progress-bar {
  width: 100px;
  height: 10px;
  border: 1px solid black;
}
