<template>
  <div>
    <h3>New Quote</h3>
    <button class="btn btn-primary" @click="counter++">Increase!</button>
    <p>{{counter}}</p>
  </div>
</template>

<script>
  export default {
    name: 'New',
    data() {
      return {
        counter: 0
      }
    },
    destroyed() {
      console.log('Destroyed')
    },
    // New life cycle hooks we can use with Dynamic components
    deactivated() {
      console.log('Deactivated')
    },
    activated() {
      console.log('Activated')
    }
  };
</script>

<style scoped>

</style>
