<template>
  <div>
    <div class="title">
      <slot name="title"></slot>
      <span style="color: #ccc">
        <!-- Default Content if data is not passed to outside -->
        <slot name="subtitle">
          The Subtitle
        </slot>
      </span>
    </div>
    <hr/>
    <div class="content">
      <!-- The default slot, anything that has no named slot will be put here -->
      <slot>Default Content</slot>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Quote'
  };
</script>

<!-- The Styling of the child applys! -->
<style scoped>
  div {
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px black;
    padding: 30px;
    margin: 30px auto;
    text-align: center;
  }

  h2 {
    color: red;
  }

  .title {
    font-style: italic;
  }
</style>
