<template>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <h1>Vuex</h1>
        <app-result/>
        <hr>
        <app-another-result/>
        <hr/>
        <app-counter/>
        <hr/>
        <h3>Another Counter</h3>
        <app-another-counter/>
        <hr/>
        <!--<input class="form-control" type="text" :value="value" @input="updateValue"/>-->
        <input class="form-control" type="text" v-model="value"/>
        <p>{{value}}</p>
      </div>
    </div>
  </div>
</template>

<script>
  import Counter from './components/Counter.vue';
  import Result from './components/Result.vue';
  import AnotherResult from './components/AnotherResult';
  import AnotherCounter from './components/AnotherCounter';

  export default {
    computed: {
      // Option 2, can set your computed properties to have getters/setters!
      // NOTE: VERY RARE TO USE THIS
      value: {
        get() {
          return this.$store.getters.value;
        },
        set(value) {
          this.$store.dispatch('updateValue', value)
        }
      }
    },
    // first fix using "custom two-way data binding (:value/@input)" but not using v-model
    methods: {
      updateValue({target}) {
          this.$store.dispatch('updateValue', target.value);
      }
    },
    components: {
      appCounter: Counter,
      appAnotherCounter: AnotherCounter,
      appResult: Result,
      appAnotherResult: AnotherResult,
    },
  };
</script>

