<template>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-outline-primary" @click="selectedComponent = 'appQuote'">Quote</button>
        <button class="btn btn-outline-primary" @click="selectedComponent = 'appAuthor'">Author</button>
        <button class="btn btn-outline-primary" @click="selectedComponent = 'appNew'">New</button>
        <hr/>
        <p>{{selectedComponent}}</p>
        <!-- Will prevent component from being destroyed when navigating -->
        <keep-alive>
          <component :is="selectedComponent"></component>
        </keep-alive>
        <!--<app-quote>-->
          <!--<h2 slot="title">{{quoteTitle}}</h2>-->
          <!--&lt;!&ndash; Goes to the default slot &ndash;&gt;-->
          <!--<p>A wonderful quote!!</p>-->
        <!--</app-quote>-->
      </div>
    </div>
  </div>
</template>

<script>
  import Quote from './components/Quote';
  import Author from './components/Author';
  import New from './components/New';

  export default {
    components: {
      appQuote: Quote,
      appAuthor: Author,
      appNew: New,
    },
    data() {
      return {
        quoteTitle: 'The Quote',
        selectedComponent: 'appQuote'
      };
    },
  };
</script>

<!-- Ignored since the child takes over -->
<style lang="scss" scoped>
  h2 {
    color: blue;
  }
</style>
