<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>VueJs</title>
    <link rel="stylesheet" href="">
    <script src="../vue.js"></script>
</head>
<body>
<div id="app">
    <input type="text" v-on:input="changeTitle"/>
    <p>
        <!-- v-once renders ONCE so if we update title later, this won't be overidden -->
    <h1 v-once>{{title}}</h1>
    <!-- Access to all the properties stored in methods property -->
    <!-- Access to all the properties stored in data property-->
    <!-- Doesn't work with curly braces in a string, need to use a directive -->
    <!--{{sayHello()}} - <a href="{{link}}">Google</a>-->
    <!-- Use the v-bind directive to directly access the link (or methods) on the Vue object -->
    {{sayHello()}} - <a v-bind:href="link">Google</a>
    <hr/>
    <p>
        <!--Will just output the finishedLink as text, avoids cross-side scripting attacks-->
        <!-- VueJS will only render text -->
        {{finishedLink}}}
    </p>
    <!-- Tells VueJS to render html rather than text, this DOES expose you to cross-side scripting to be careful -->
    <!-- Only use this if you know the source is clean and not a user defined source -->
    <p v-html="finishedLink">

    </p>
    <p>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            title: 'Hello World!',
            link: 'http://google.com',
            finishedLink: '<a href="http://google.com">Google</a>',
        },
        methods: {
            changeTitle: function (event) {
                this.title = event.target.value;
            },
            sayHello: function () {
                return this.title;
            },
        },
    });
</script>

</body>
</html>