<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>VueJs Challenge</title>
    <link rel="stylesheet" href="">
    <script src="../vue.js"></script>
</head>
<body>
<div id="excercise">
    <!-- 1) Fill the <p> below with your Name and Age - using Interpolation -->
    <p>VueJS is pretty cool - {{name}} ({{age}})</p>
    <!-- 2) Output your age, multiplied by 3 -->
    <p>{{multiplyAgeBy(3)}}</p>
    <!-- 3) Call a function to output a random float between 0 and 1 (Math.random()) -->
    <p>{{randomNumber()}}</p>
    <!-- 4) Search any image on Google and output it here by binding the "src" attribute -->
    <div>
        <img style="width:100px;height:100px" v-bind:src="googleImage">
    </div>
    <!-- 5) Pre-Populate this input with your name (set the "value" attribute) -->
    <div>
        <input type="text" v-bind:value="name">
    </div>
</div>
<script>
    new Vue({
        el: '#excercise',
        data: {
            name: 'Mark Kewley',
            age: 28,
            googleImage: 'https://www.thesprucepets.com/thmb/dp-HvVRuM14H32PRu9FQmoDDMK0=/960x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/kitten-looking-at-camera-521981437-57d840213df78c583374be3b.jpg',
        },
        methods: {
            multiplyAgeBy: function (number) {
                return this.age * number;
            },
            randomNumber: function () {
                return Math.random();
            },
        },
    });
</script>
</body>
</html>