<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>VueJs V-for</title>
    <link rel="stylesheet" href="">
    <script src="../vue.js"></script>
</head>
<body>
<div id="app">
    <!-- Basic iteration -->
    <ul>
        <!-- Index can be any name, example 'i'. The only thing that matters is the ORDER we are -->
        <!-- Extracting the elements from the ingredients list -->
        <!-- Key is used to ensure safety when we update the list, this will ensure Vue Js updates what we expect -->
        <!-- NOTE: If you run into issue where items updating ina list when they shouldn't or odd before, use a KEY!!! -->
        <li v-for="(ingredient, index) in ingredients" :key="ingredient">
            {{ingredient}} ({{index}})
        </li>
    </ul>
    <button @click="ingredients.push('spices')">Add new</button>

    <!-- Using templates instead of list elements -->
    <template v-for="(ingredient, i) in ingredients">
        <h1>{{ingredient}}</h1>
        <p>{{i}}</p>
    </template>
    <hr/>

    <!-- Objects -->
    <ul>
        <li v-for="person in people">
            <!-- Retrieve keys from the object -->
            <div v-for="(value, key, index) in person">{{key}}: {{value}} ({{index}})</div>
        </li>
    </ul>

    <!-- Range -->
    <span v-for="n in 10">{{n}}</span>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            ingredients: ['meat', 'fruit', 'cookies'],
            people: [
                {name: 'Max', age: 27, color: 'red'},
                {name: 'Anna', age: 'unknown', color: 'blue'},
            ],
        },
    });
</script>
</body>
</html>