<template>
  <div>
    <button class="btn btn-primary" @click="increment(100)">Increment</button>
    <button class="btn btn-primary" @click="asyncIncrement({by: 50, duration: 1000})">Async Increment</button>
    <button class="btn btn-primary" @click="decrement(50)">Decrement</button>
  </div>
</template>

<script>
  import {mapActions} from 'vuex';

  export default {
    methods: {
      ...mapActions([
        'decrement',
        'asyncIncrement'
      ]),
      increment(by) {
        // passing arguments
        this.$store.dispatch('increment', by);
      }
    }
  };
</script>
