<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Component Introduction</title>
    <script src="./vue.js"></script>
</head>
<body>
<!-- We can only use this once, so if we need to use it MORE than once we should use a component-->
<div id="app">
    <my-cmp></my-cmp>
    <hr/>
    <my-cmp></my-cmp>
</div>
<h1>Other Instance</h1>
<div id="app2">
    <my-cmp></my-cmp>
    <hr/>
    <my-cmp></my-cmp>
</div>
<script>
    // AVOID THIS, if we have a shared data state, BOTH components will update if we change it
    const data = {status: 'Critical'};

    // Component time!
    const component = {
        // NOTE: We can't use data as an object since a comoonent EXTENDS a Vue instance
        data() {
            return {status: 'Critical'};
        },
        template: '<p>Server Status: {{status}} (<button @click="changeStatus">Change</button>)</p>',
        methods: {
            changeStatus() {
                this.status = 'Omg';
            }
        }
    };
    new Vue({
        el: '#app',
        components: {
            'my-cmp': component // what LOCAL components do you have
        }
    });

    // Can't use the component since it isn't registered to the global Vue state (e.g. Vue.component('my-cmp', {}) )
    new Vue({
        el: '#app2',
    })
</script>
</body>
</html>