<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monster Hunter</title>
    <link rel="stylesheet" href="./main.css">
    <script src="../vue.js"></script>
</head>
<body>

<div id="app">
    <div id="game-container" class="d-flex align-items-center flex-column">
        <div id="header-container">
            <h1>{{name}}</h1>
        </div>

        <div id="contenders-container">
            <div class="card">
                <div class="card-header">
                    <h2>Contenders</h2>
                </div>
                <div class="card-body d-flex flex-row justify-content-between">
                    <div class="player">
                        <h2>{{player.name}}</h2>
                        <div class="health-bar">
                            <span class="health-bar-text">{{playerHealth()}}</span>
                            <div id="player-health" :style="playerHealthClass"></div>
                        </div>
                    </div>
                    <div class="opponent">
                        <h2>{{opponent.name}}</h2>
                        <div class="health-bar">
                            <span class="health-bar-text">{{opponentHealth()}}</span>
                            <div id="opponent-health" :style="opponentHealthClass"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="actions-container">
            <div class="card">
                <div class="card-header">
                    <h3>Available Actions</h3>
                </div>
                <div class="card-body d-flex flex-row justify-content-center align-items-center">
                    <template v-if="!gameStarted">
                        <button class="btn btn-start" @click="startGame">START NEW GAME</button>
                    </template>
                    <div v-else-if="gameOver" class="d-flex flex-column">
                        <span>Sorry but you lost!</span>
                        <button class="btn btn-start" @click="startGame">PLAY AGAIN?</button>
                    </div>
                    <div v-else-if="gameWon" class="d-flex flex-column">
                        <span>Congrats you won!</span>
                        <button class="btn btn-start" @click="startGame">PLAY AGAIN?</button>
                    </div>
                    <template v-else>
                        <button class="btn btn-attack mr-2" @click="attack">ATTACK</button>
                        <button class="btn btn-special mr-2" @click="specialAttack">SPECIAL ATTACK</button>
                        <button class="btn btn-heal mr-2" @click="heal">HEAL</button>
                        <button class="btn btn-give-up mr-2" @click="endGame">GIVE UP</button>
                    </template>
                </div>
            </div>
        </div>

        <div id="game-events-container">
            <div class="card">
                <div class="card-header">
                    <h3>Event Log</h3>
                </div>
                <div class="card-body scroll-touch">
                    <div v-for="event in events"
                         :class="['event-list-item', {'opponent-event-list-item': event.opponent, 'player-event-list-item': event.player}]">
                        {{event.message}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="./main.js"></script>
</body>
</html>