* {
    box-sizing: border-box;
}

.scroll-touch {
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
    max-height: 15vh;
}

#game-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#header-container {
    border-radius: 3px;
    padding: 1rem 15px;
    border: 0;
    background-color: #0275d8;
    color: #ececec;
    max-width: 100vh;
    min-width: 70vh;
    box-shadow: 0 5px 15px rgba(2,117,216,.6);
    text-align: center;
    margin: 0 auto 2rem;
}

.d-flex {
    display: flex !important;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 70vw;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0 5px 15px rgba(2,117,216,.6);
}

.card-header {
    border-radius: 3px;
    padding: 1rem 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border: 0;
    background-color: #0275d8;
    color: #ececec;
    box-shadow: 0 5px 15px rgba(2,117,216,.6);
    text-align: center;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.flex-column {
    flex-direction: column !important;
}

.flex-row {
    flex-direction: row !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.justify-content-start {
    justify-content: flex-start !important;
}

.justify-content-center {
    justify-content: center !important;
}

.align-items-center {
    align-items: center !important;
}

.btn {
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);
}

.btn-start {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-start:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-attack {
    color: #fff;
    background-color: #a72e2d;
    border-color: #a72e2d;
}

.btn-attack:hover {
    background-color: #892a29;
    border-color: #892a29;
}

.btn-special {
    color: #fff;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-special:hover {
    background-color: #d09907;
    border-color: #d09907;
}

.btn-heal {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-heal:hover {
    background-color: #288f44;
    border-color: #288f44;
}

.btn-give-up {
    color: #000;
    border: 1px solid black;
}

.btn-give-up:hover {
    color: #fff;
    background-color: #000;
}

#contenders-container {
    margin-top: 3rem;
}

#actions-container {
    margin-top: 3rem;
}

#game-events-container {
    margin-top: 3rem;
}

.mr-2 {
    margin-right: 2rem;
}

.player {
    text-align: center;
}

.opponent {
    text-align: center;
}

.health-bar {
    position: relative;
    width: 25vw;
    height: 2rem;
    text-align: center;
    background-color: #eee;
}

.health-bar-text {
    position: absolute;
    left: 50%;
    top: 25%;
}

#player-health,
#opponent-health {
    transition: width 200ms;
}

.event-list {
    list-style: none;
}

.event-list-item {
    height: 5rem;
    width: 100%;
    color: white;
    padding: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.opponent-event-list-item {
    border: 1px solid #a72e2d;
    background-color: rgba(146, 21, 14, 0.69);
}

.player-event-list-item {
    border: 1px solid #007bff;
    background-color: rgba(13, 110, 146, 0.69);
}