<template>
  <div class="row">
    <form>
      <div class="col-sm-4 col-sm-offset-2 col-xs-4 col-md-6 col-md-offset-6 col-lg-12 form-group">
        <label>Quote</label>
        <textarea class="form-control" rows="3" v-model="quote"></textarea>
      </div>
      <div class="col-sm-4 col-sm-offset-2 col-xs-4 col-md-6 col-md-offset-6 col-lg-12  form-group">
        <!-- Prevent default so we don't submit the form -->
        <button class="btn btn-primary" @click.prevent="createNew">Add Quote</button>
      </div>
    </form>
  </div>
</template>

<script>
  export default {
    name: 'NewQuote',
    data() {
      return {
        quote: '',
      };
    },
    methods: {
      createNew() {
        this.$emit('quoteAdded', this.quote);
        this.quote = '';
      }
    }
  };
</script>

<style scoped>

</style>
