<template>
  <div class="row">
    <!-- Native tells VueJS to react to a click on the component if a click happens on it -->
    <!-- So even though we clicked on HTML inside the app-quote component, the whole component is registered as a click-->
    <app-quote
      v-for="(quote, index) in quotes"
      key="index"
      @click.native="deleteQuote(index)"
    >
      {{quote}}
    </app-quote>
  </div>
</template>

<script>
  import Quote from './Quote';

  export default {
    name: 'QuoteGrid',
    props: ['quotes'],
    components: {
      appQuote: Quote,
    },
    methods: {
      deleteQuote(index) {
        this.$emit('quoteDeleted', index);
      },
    },
  };
</script>

<style scoped>

</style>
