<template>
  <div class="container">
    <app-header :quoteCount="quotes.length" :maxQuotes="maxQuotes"></app-header>
    <app-new-quote @quoteAdded="newQuote"/>

    <app-quote-grid
      :quotes="quotes"
      @quoteDeleted="deleteQuote"
    ></app-quote-grid>

    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="alert alert-info mt-5">
          Info: Click on a Quote to Delete it!
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import QuoteGrid from './components/QuoteGrid';
  import NewQuote from './components/NewQuote';
  import Header from './components/Header';

  export default {
    data() {
      return {
        maxQuotes: 10,
        quotes: [
          'Just a Quote to see something',
        ],
      };
    },
    components: {
      appHeader: Header,
      appQuoteGrid: QuoteGrid,
      appNewQuote: NewQuote,
    },
    methods: {
      newQuote(quote) {
        if (this.quotes.length >= this.maxQuotes) {
          return alert('Please delete quotes first')
        }
        this.quotes.push(quote);
      },
      deleteQuote(index) {
        // modify existing array and remove element from it
        this.quotes.splice(index, 1);
      }
    },
  };
</script>

<style>
</style>
