<!-- This file behaves as a Vue instance -->

<!-- The HTML code -->
<template>
  <h1>Hello World!</h1>
</template>

<!-- Setup all your methods/data/etc in here -->
<script>
</script>

<!-- Some styling needed -->
<style lang="scss">
</style>
