<template>
  <div class="component">
    <h1>The User Component</h1>
    <p>I'm an awesome User!</p>
    <button @click="changeName">Change my Name</button>
    <p>Name is {{name}}</p>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <!--Notice we use the ':' or v-bind to access name-->
        <!-- We use '@' or 'v-on' for custom events defined in the child via the $emit -->
        <!--<app-user-detail :myName="name" @nameWasReset="name = $event"></app-user-detail>-->
        <app-user-detail
          :myName="name"
          :userAge="age"
          :resetFn="resetName"
        ></app-user-detail>
      </div>
      <div class="col-xs-12 col-sm-6">
        <app-user-edit :userAge="age"></app-user-edit>
      </div>
    </div>
  </div>
</template>

<script>
  import UserDetail from './UserDetail.vue';
  import UserEdit from './UserEdit.vue';

  export default {
    data() {
      return {
        name: 'Mark',
        age: 28
      };
    },
    components: {
      appUserDetail: UserDetail,
      appUserEdit: UserEdit,
    },
    methods: {
      changeName() {
        this.name = 'Anna';
      },
      resetName() {
        this.name = 'Mark'
      }
    },
  };
</script>

<style scoped>
  div {
    background-color: lightblue;
  }
</style>
