<template>
  <div class="component">
    <h3>You may view the User Details here</h3>
    <p>Many Details</p>
    <p>User Details: {{myName}}</p>
    <p>Swapped: {{switchName()}}</p>
    <p>Weird case: {{weird}}</p>
    <p>Name: {{userAge}}</p>
    <button @click="resetFn">Reset Name</button>
  </div>
</template>

<script>
  import {eventBus} from '../main';

  export default {
    // has to match the property defined int he template
    props: {
      // myName: [String, Array] // validation with multiple types
      myName: {
        type: String,
        required: true, // always should be passed to this component
        // default: 'User' // can be used as well in place of required
      },

      // NOTE if object, you need a function for default
      weird: {
        type: Object,
        default() {
          return 'Blah';
        },
      },
      resetFn: Function,
      userAge: Number,
    },
    methods: {
      // can access props with "this"
      switchName() {
        return this.myName.split('').reverse().join('');
      },
      resetName() {
        // NOTE: If you have an object/array and you change it like so you are changing the object in memory which affects parent
        this.myName = 'Mark'; // THIS DOES NOT affect the parent since String is a primitive type

        // how we can tell the parent we updated
        this.$emit('nameWasReset', this.myName);
      },
    },
    created() {
      eventBus.$on('ageWasEdited', e => this.userAge = e);
    }
  };
</script>

<style scoped>
  div {
    background-color: lightcoral;
  }
</style>
